PORT=3000
NODE_ENV=production
PM2_APP_NAME=devops-app # Name App of PM2
#MONGO_URI=mongodb://localhost:27017/products_db
MONGO_URI=mongodb+srv://hien:hien123@cluster0.tdzyvc5.mongodb.net/products_db
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/products_db
UPLOAD_PATH=/home/ubuntu/DevOps/src/public/uploads
MAX_FILE_SIZE=10485760
#LOG_LEVEL=info
PM2_INSTANCES=1
PM2_EXEC_MODE=fork
PM2_WATCH=false
PM2_MAX_MEMORY_RESTART=500M